# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: requirements-txt-fixer
    - repo: git://github.com/alessandrojcm/commitlint-pre-commit-hook
      rev: v8.0.0
      hooks:
          - id: commitlint
            stages: [commit-msg]
            additional_dependencies: ["@commitlint/config-conventional"]
    - repo: git://github.com/psf/black
      rev: 22.1.0
      hooks:
          - id: black
    - repo: git://github.com/pre-commit/mirrors-prettier
      rev: v2.5.1
      hooks:
          - id: prettier
            files: \.(sol|json|yaml|md)$
            additional_dependencies:
                - "prettier-plugin-solidity"
